<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>予約情報確認ページ</title>
</head>
<body>

<h1><span th:text="${name}"></span> 様</h1>

<h3 class="reserveInfo_headline">予約詳細</h3>

<div>
    <table border="1" style="border-collapse: collapse;">
        <thead>
        <tr>
            <th>予約番号</th>
            <th>予約日</th>
            <th>予約時間</th>
            <th>予約メニュー</th>
            <th>メールアドレス</th>
            <th>電話番号</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserve : ${reserve}">
            <td th:text="${reserve.id}"></td>
            <td th:text="${reserve.date}"></td>
            <td th:text="${reserve.time}"></td>
            <td th:text="${reserve.menu}"></td>
            <td th:text="${reserve.email}"></td>
            <td th:text="${reserve.tel}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="reserveDelete">
    <p>予約をキャンセルする</p>
    <form th:action="@{/reserveDelete}">
        <input type="hidden" name="${reserve.id}">
        <input type="submit" value="予約をキャンセルはこちらから">
    </form>
</div>

<h4>
    <a th:href="@{/}">ホームに戻る</a>
</h4>

</body>
</html>